/* High level layout */
body {
  font-family: 'Lora', serif;
  font-size: 10px;
}

.content {
  padding-top: 64px;
}

.site-width {
  max-width: 1200px;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0 auto;
}

.columns {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}

.left-column {
  width: 60%;
  padding-right: 24px;
}

.right-column {
  width: 35%;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

video {
  width: 100%;
  height: auto;
  display: block;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  padding: 32px 0;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 14px;
  line-height: 18px;
}

.summary-articles {
  display: flex;
}

.summary-articles .image-column {
  width: 35%;
  padding: 16px;
}

.summary-articles .text-column {
  padding-top: 32px;
  width: 65%;
  padding-right: 16px;
}

.summary-articles p {
  padding-top: 8px;
  padding-bottom: 15px;
}

.summary-articles a {
  color: #090942;
}

.summary-articles.special {
  background-color: #e2f2fd;
}


/* Header Section */
header {
  background-color: white;
  position: fixed;
  z-index: 40;
  width: 100%;
}

header .site-width {
  display: flex;
  height: 64px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  position: relative;
  top: 3px;
  height: 40px;
}

.logo h1 {
  font-weight: regular;
  font-size: 22px;
}
.logo h1 strong {
  font-weight: bold;
}

header ul {
  display: flex;
}

header li {
  padding-left: 16px;
  font-size: 12px;

}


/* Learn Something */
.learn-something {
  background-color: #a3daff;
}

.learn-something .right-column {
  padding-left: 16px;
  display: flex;
  align-items: center;
}

.learn-something .text-group {
  padding-right: 60px;
  color: #090942;
}

.learn-something h2 {
  font-size: 44px;
  font-weight: bold;
  padding-bottom: 24px;
}

.learn-something p {
  font-size: 20px;
  padding-bottom: 24px;
}

.learn-something button {
  background-color: #090942;
  width: 80%;
  padding: 8px;
  text-align: center;
  border: none;
  font-size: 12px;
  color: white;
}


/* Keep Practicing  */
.author {
  padding-top: 32px;
}

.keep-practicing .right-column {
  position: relative;
  top: -16px;
}

/* Grid Box */

.grid-box {
  background-color: #a3daff;
}

/* Start Learning Title */

.start-learning-title {
  display: flex;
  padding-top: 32px;
  align-items: center;
  margin-top: 0;
  padding-top: 0;
}

.start-learning-title h2 {
  padding-bottom: 0;
}

/* Start Learning */



.feature-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: center;
}

.learning-feature {
  height: 300px;
  width: 26%;
  margin: 32px;
  background-color: white;
}

.learning-feature h3 {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}

.learning-feature h4 {
  padding-top: 8px;
  font-size: 16px;
  padding-left: 16px;
}

.learning-feature p {
  padding-top: 8px;
  padding-left: 16px;
}

/* Thesis Title */

.thesis {
  display: flex;
  padding-top: 32px;
  align-items: center;
  margin-top: 0;
  padding-top: 0;
}

/* Feature */

.design .feature-article p {
  padding-top: 24px;
}

.design .feature-article h3 {
  padding-top: 24px;
}

.design .columns {
  padding-top: 0;
}

.design .right-column {
  position: relative;
  top: -16px;
}

/* Footer */

footer {
  border-top: 1px solid #cecece;
  padding-top: 12px;
  padding-bottom: 24px;
}

footer .site-width {
  display: flex;
  justify-content: space-between;
}

footer nav ul {
  display: flex;
}

footer nav li {
    margin-left: 10px;
}
